/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    position: relative;
    transition: background-color 0.3s, color 0.3s, filter 0.3s;
}

header {
    background-color: #c08300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    transition: background-color 0.3s;
}

header div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#header-buttons {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#darkModeToggle {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
    transition: transform 0.2s ease, color 0.3s ease;
}

#darkModeToggle:hover {
    transform: scale(1.2);
    color: #f0f0f0;
}

#hamburgerMenu {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
    transition: transform 0.2s ease, color 0.3s ease;
}

#hamburgerMenu:hover {
    transform: scale(1.2);
    color: #f0f0f0;
}

header img {
    border-radius: 50%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 10);
}

.hidden {
    display: none;
}


header h1 {
    font-size: 2.2rem;
    margin: 0.5rem 0;
    color: #fff;
}

/* Navigation */
nav ul {
    gap: 5rem;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #a30000;
    transition: background-color 0.3s;
}

nav ul li {
    margin: 0.5rem 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem;
    display: block;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}

/* Main content */
main {
    margin: 1rem auto;
    padding: 1rem;
    max-width: 800px;
}

button:focus {
    outline: 2px solid #a30000; 
    outline-offset: 2px; 
}

.card {
    background-color: #f9f9f9;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.30);
    transition: background-color 0.3s, color 0.3s;
}

.card h2 {
    margin-top: auto;
    background-color: #a30000;
    max-width: 100%;
    color: #fff;
    text-align: center;
}

.title-card {
    color: #333;
    margin-top: 2px;
    border-bottom: 1px solid black;
    text-align: center;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

footer p {
    margin: 0.5rem 0;
}

/* Styles for dark mode */
body.dark-mode {
    background-color: #121212; 
    color: #fff; 
    filter: grayscale(100%); 
}

header.dark-mode {
    background-color: #333; 
}

nav.dark-mode ul {
    background-color: #444; 
}

nav.dark-mode ul li a {
    color: #fff; 
}

.card.dark-mode {
    background-color: #333; 
    color: #fff; 
}


footer.dark-mode {
    background-color: #222; 
    color: #fff; 
}

/* Hero section */
.hero {
    position: relative;
    height: 400px;
    background-color: #f4f4f4;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero .overlay {
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.2;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    color: #000;
    font-size: 1rem;
    font-weight: 700;
}

