body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1rem;
}

section {
    margin: 1rem auto;
    max-width: 800px;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

h2 {
    color: #4CAF50;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 0.5rem;
}