/* Media query for larger screens */
@media (min-width: 768px) {
    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    nav ul li {
        margin: 0 1rem;
    }

    main {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .card {
        margin: 0;
    }

    footer {
        font-size: 0.9rem;
    }
}


/* Cacher le menu hamburger par défaut */
#hamburgerMenu {
    display: none;
}

/* Afficher le menu hamburger uniquement sur les écrans mobiles */
@media (max-width: 767px) {
    #hamburgerMenu {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
    }

    nav ul.hidden {
        display: none;
    }

    nav ul:not(.hidden) {
        display: flex;
        row-gap: 0.1px;
    }
}
